body {
	--bs-bg-opacity: 0.05;
	background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.home-icon {
	font-size: 6rem;
	--bs-bg-opacity: 0.75;
	color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.post-icon {
	font-size: 1.25rem;
	--bs-bg-opacity: 0.75;
	color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
	cursor: pointer;
}

.post-icon-select {
	color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.post-quote {
	font-size: 3rem;
	cursor: default;
}

.post-entry {
	padding: 10px;
	--bs-bg-opacity: 0.1;
	background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

