body {
	background-color: var(--bs-gray-200);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.avatar-small {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.counter {
    vertical-align: super;
 	font-size: 1rem;
	color: var(--bs-red);
	font-weight: bold;
}

.home-icon {
	font-size: 6rem;
	color: var(--bs-blue);
}

.home-icon-counter {
	font-size: 1rem;
	color: var(--bs-red);
	font-weight: bold;
}

.post-icon {
	font-size: 1.25rem;
	color: var(--bs-blue);
	cursor: pointer;
}

.post-icon-select {
	color: var(--bs-red);
}

.post-quote {
	font-size: 3rem;
	cursor: default;
}

.post-entry {
	padding: 10px;
	background-color: var(--bs-gray-400);
}

