body {
  background-color: #f5f5f5;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.home-icon {
	font-size: 6rem;
	color: cornflowerblue;
}
